.wrapper {
    padding-top: 4rem;

    section {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 6rem;

        h3 {color: #999;}
        h1 {margin-bottom: 5rem;}

        .social {
            justify-content: center;
            
            a:not(:last-child) {margin-right: 2rem;}
        }

        &.maxwidth-1 {max-width: 900px;}
        &.maxwidth-2 {max-width: 1280px;}
        &.align-c {text-align: center;}
        &.padding-1 {
            padding-top: 7rem;
            padding-bottom: 7rem;
        } 
        &.padding-2 {padding-bottom: 3rem;}
        &.splitscreen {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 4rem;

            @media screen and (max-width: 930px) {
                grid-template-columns: 1fr;
                grid-template-rows: auto auto;
            }
        }
    }
}

section {
    .section-header {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        margin-bottom: 2rem;

        h2 {margin-bottom: 1rem;}
        p {
            line-height: 155%;
            margin-bottom: 2rem;
        }
        & > a {
            text-transform: uppercase;
            color: gray;
        }

        .social {
            display: flex;
            justify-content: flex-start;
        }
        
        &.text-c {text-align: center;}

        @media screen and (max-width: 930px) {
            margin-bottom: 4rem;
            text-align: center;

            p {
                margin: 0 auto;
                margin-bottom: 2rem;
            }

            .social {
                margin-top: 2rem;
                justify-content: center;
            }
        }
    }

    &.splitscreen {
        p {width: 80%;}
    }
}

footer {
    width: 100%;
    background: #ebebeb;
}