.container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.spinner {
  fill: white;
  animation: spinner 1.5s linear infinite;
  width: 1.25rem;
  height: 1.25rem;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
