.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-15deg);

  div {
    font-size: 160px;
    line-height: 160px;
    font-weight: 700;
    white-space: nowrap;

    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: transparent;

    &:nth-child(odd) {
      animation: swing-right 5s infinite;
    }

    &:nth-child(even) {
      animation: swing-left 5s infinite;
    }
  }
}

.centered {
  -webkit-text-stroke: transparent !important;
  -webkit-text-fill-color: black !important;
}

@keyframes swing-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes swing-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10vw);
  }
  100% {
    transform: translateX(0);
  }
}
