.Sidebar {
  width: 21.875rem;
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
  background-color: white;
  padding: 1.25rem 1rem;
  border-right: 1px solid #d5d5d5;
}

.SidebarGroup {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  .SidebarHeading {
    display: inline-block;
    font-family: "Genera Grotesk";
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1rem;
    padding-left: 0.5rem;
    padding-bottom: 0.75rem;
    padding-top: 1.5rem;
  }
}
