:root {
  // Colors
  $red: #ef4b46;
  $blue: dodgerblue;
  $yellow: rgba(239, 181, 67, 1);

  // Breakpoints
  $breakpoints-xl: 90rem;
  $breakpoints-lg: 65rem;
  $breakpoints-md: 48rem;
  $breakpoints-sm: 30.625rem;
}
