.IndexContainer {
  padding-top: 15rem;
}

.Section {
  margin-bottom: 20rem;

  &:hover .SectionHeader {
    -webkit-text-fill-color: #000000;
    text-fill-color: #000000;
    color: #000000;
  }

  .SectionHeader {
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 100%;

    margin: 0;
    margin-bottom: 32px;
    text-transform: uppercase;

    -webkit-text-stroke: 1px #000000;
    text-stroke: 1px #000000;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;

    transition: 200ms;
  }
}

.Projects {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 150px;

  .Project a {
    text-decoration: none;

    .Description {
      font-size: 16px;
      color: #d1cfcf;
      margin: 0;
      margin-bottom: 8px;
    }

    .Title {
      margin: 0;
      font-size: 20px;
      font-weight: bold;
      color: #000000;
    }
  }
}

.SelectedProjects {
  width: 95%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  pointer-events: none;
  opacity: 0.05;
}
