@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* @custom-variant dark (&:where(.dark, .dark *)); */

@theme inline {
  --font-sans: var(--font-inter);
  --font-sans--font-feature-settings: "cv01", "ss03";
  --font-mono: var(--font-geist-mono);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-neutral-200, currentColor);
  }

  button {
    cursor: pointer;
  }
}

@layer utilities {
  @keyframes reveal-text {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .animate-reveal-text {
    animation: reveal-text 1.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

@theme {
  --color-neutral-25: oklch(0.994 0.001 106.4);
}

.scrollbar-none {
  scrollbar-width: none; /* for Firefox */
  -ms-overflow-style: none; /* for Internet Explorer 10+ */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

code[data-theme~="github-light"] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

/* @media (prefers-color-scheme: dark) {
  code[data-theme~="github-dark"] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
} */

code[data-theme*="github-light"] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

/* @media (prefers-color-scheme: dark) {
  code[data-theme*="github-dark"] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}  */
