@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-sans--font-feature-settings: "cv01", "ss03";
  --font-mono: var(--font-geist-mono);
}

:root {
  font-sythesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  button {
    cursor: pointer;
  }
}

@layer utilities {
  @keyframes reveal-text {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .animate-reveal-text {
    animation: reveal-text 1.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.scrollbar-none {
  scrollbar-width: none; /* for Firefox */
  -ms-overflow-style: none; /* for Internet Explorer 10+ */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

code[data-theme~="github-light"] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

/* @media (prefers-color-scheme: dark) {
  code[data-theme~="github-dark"] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
} */

code[data-theme*="github-light"] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

/* @media (prefers-color-scheme: dark) {
  code[data-theme*="github-dark"] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}  */

pre {
  overflow-x: auto !important;
}

pre [data-line] {
  padding-left: 1rem;
  padding-right: 1rem;
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 0.75rem;
  text-align: right;
  color: gray;
  position: sticky;
  left: 0;
  background-color: var(--color-neutral-50);
  padding-left: 1rem;
  padding-right: 1.5rem;
  margin-left: -1rem;
  margin-right: 0.75rem;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 1.25rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 1.75rem;
}

code[data-line-numbers-max-digits="4"] > [data-line]::before {
  width: 2.25rem;
}
