.container {
  svg {
    width: 1.125rem;
    height: 1.125rem;
    flex-shrink: 0;
  }

  span {
    padding: 0 0.125rem;
    font-size: 0.875rem;
    font-weight: 500;
  }
}

.button {
  position: relative;
  display: flex;
  height: 2.5rem;
  align-items: center;
  gap: 0.375rem;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 0.06);
  padding: 0.625rem 0.875rem;
  transition: transform 0.16s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  /* prevents user from selecting text */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.destructiveOverlay {
  position: absolute;
  display: flex;
  height: 2.5rem;
  width: 100%;
  align-items: center;
  gap: 0.375rem;
  border-radius: 9999px;
  background-color: rgba(83.137%, 14.51%, 13.333%);
  padding: 0.625rem 0.875rem;
  inset: 0;
  clip-path: inset(0 100% 0 0);
  transition: clip-path 0.2s ease-out;
}

.destructiveOverlay > svg,
.destructiveOverlay > span {
  color: white;
}

.button > svg {
  color: rgba(121, 113, 107, 1);
}

.button > span {
  color: rgba(6.6667%, 6.6667%, 8.2353%, 1);
}

.button:active {
  transform: scale(0.97);
}

.button:active .destructiveOverlay {
  clip-path: inset(0px 0px 0px 0px);
  transition: clip-path 1.5s linear;
}
