.Header {
  pointer-events: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5rem 5rem 0;
}

.Contact {
  pointer-events: all;
  transform: rotate(90deg);
  transform-origin: left top 0;
  position: absolute;
  right: -10rem;

  p {
    margin-bottom: 0.4rem;
  }

  a,
  p {
    margin: 0;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 17px;
    color: #d1cfcf;

    /* identical to box height */
    letter-spacing: 0.03em;
  }
}
