.Footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5rem;
}

.Archive {
  padding-right: 2rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #040c19;
  text-decoration: none;
  position: relative;

  span {
    text-align: left;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #d1cfcf;
    position: absolute;
    right: 0;
    top: -0.4rem;
  }
}

.FooterLink {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #040c19;
  text-decoration: none;
}
